/*************************
           *  Sidebar
           *************************/
.sidebar {
    width: var(--sidebar-width);
    background: var(--yellow);
    padding: 40px 14px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    position: fixed;
    top: var(--header-height);
    left: 0;
    height: calc(100vh - var(--header-height));
}

.sidebar h2 {
    margin: 0 0 8px;
    font-size: 0.9rem;
}

.btn {
    display: block;
    text-align: center;
    padding: 10px 12px;
    border: none;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
}


.btn-template {
    background: #fff;
    color: #333;
}
.btn-template:hover {
    background: #fff8f8 !important;
    color: #0072fd !important;
}


.btn-done {
    background: #e94a35;
    color: #fff;
}
.btn-done:hover {
    background: #c83e2e !important;
    color: #fff !important;
}

.btn-category {
    position: relative;
    padding-right: 36px;
    padding-left: 33px;
    text-align: center;
}

.btn-category i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.btn-work {
    background: #4c2ae5;
    color: #fff;
}
.btn-work:hover {
    background: #3b22b7 !important;
    color: #fff !important;
}

.btn-study {
    background: #3eb7ff;
    color: #fff;
}
.btn-study:hover {
    background: #239ee4 !important;
    color: #fff !important;
}

.btn-family {
    background: #f387ca;
    color: #fff;
}
.btn-family:hover {
    background: #dd72b8 !important;
    color: #fff !important;
}

.settings {
    margin-top: auto;
    font-size: 0.85rem;
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}

.settings i {
    font-size: 18px;
}
